.facilties-cancel{
    background: url("../../assets/form_segment_bg.gif") left 15px no-repeat;
    padding: 10px 6px;
}
.facilties-cancel h4{
    padding: 5px 15px 3px;
    margin: 0px;
    color: #16396a;
    font-weight: bold;
    font-size: 15px;
}
