<div class="form-body-conetent">
  <div class="facilties-cancel">
    <h4>Facilities to be Canceled</h4>
  </div>

  <data-table id="persons-grid" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowClick)="rowClick($event);"
    (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip">
    <data-table-column [property]="'ID'" [header]="'Request Number'" [sortable]="true" [resizable]="true" (cellClick)="openModal(template,$event);">
    </data-table-column>
    <!-- <data-table-column
        [property]="'date'"
        [header]="'Date'"
        [sortable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.date | date:'yyyy-MM-dd'}}</span>
        </ng-template>
    </data-table-column> -->
    <data-table-column [property]="'BAR_CreditID'" [header]="'Credit Facility id'" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'LegalEntityName'" [header]="'Legal Entity'" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BankName'" [header]="'Bank'" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchCity'" [header]="'Bank City'" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'BranchCountry'" [header]="'Bank Country'" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'TotalFacilityLimit'" [header]="'Facility limit (USD Equiv.)'" [sortable]="true" [resizable]="true">
    </data-table-column>
    <data-table-column [property]="'ExpirationDate'" [header]="'Expiration Date'" [sortable]="true" [resizable]="true">
    </data-table-column>
  </data-table>
  <!-- 
    <button type="button" class="btn btn-info" 
        (click)="openModal(template)">Create template modal</button> -->
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Request Number:{{requestId}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-todo-modal [requestId]=requestId></app-todo-modal>
    </div>
  </ng-template>

</div>
