#header{
    background-image: url("../assets/FXR_ILR_03.jpg");
    background-position-x: 50%;
}
.body-panel{
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: inset 0px 5px 0px 0px #b1b6bc;
}
.welcom-msg{
    text-align: right;
    color: #fff;
}

.menu{
    background-image: url("../assets/FXR_ILR_07 (1).jpg")
}
.menu-left{
    background: url("../assets/FXR_ILR_06.jpg") no-repeat top left;
}
.menu-right{
    background: url("../assets/FXR_ILR_11.jpg") no-repeat top right;
    height: 46px;
}
.sub-menu-parent {
    position: relative;
  }
  
  .sub-menu {
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  
  .sub-menu-parent:focus .sub-menu,
  .sub-menu-parent:focus-within .sub-menu,
  .sub-menu-parent:hover .sub-menu {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */
  }

  nav a {

    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #224476;
    padding: 14px 6px 7px;
    text-decoration: none;
    margin: 0px 1px;
    width: 120px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.5;
    font-weight: bold;
  }
  
  nav a:hover {
    
  }
  
  nav ul,
  nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav > ul {
    /* background: #EEE; */
    text-align: left;
  }
  
  nav > ul > li {
    display: inline-block;
  }
  
  nav > ul > li:first-child {
    border-left: none;
  }
  
  .sub-menu {
  
   
  }
  .sub-menu li{
    background-color:rgba(215,221,231,0.5);
  }
  .sub-menu a:hover{
    background-color:#fff;
  }

