<div class="container">
  <div id="page">
    <header id="header">
      <div class="row">
        <div class="utc-logo  col-sm-4">
          <img src="../assets/UTC_logo.gif" alt="utc logo">
        </div>
        <div class="fxr-logo col-sm-4">
          <img src="../assets/CFPG_Logo.png" alt="">
        </div>
        <div class="welcom-msg  col-sm-4">
          welcom
        </div>
      </div>
    </header>

    <div class="body-panel">
      <div class="row">
        <div class="col-sm-12">
          <div class="menu">
            <div class="menu-left">
              <div class="menu-right">
                <div id="menu">
                    <nav>
                        <ul>
                          <li class="sub-menu-parent" tab-index="0">
                            <a href="http://google.com">Menu Item 1</a>
                            <ul class="sub-menu">
                              <li>
                                <a href="#">Sub Item 1</a>
                              </li>
                              <li>
                                <a href="#">Sub Item 2</a>
                              </li>
                              <li>
                                <a href="#">Sub Item 3</a>
                              </li>
                              <li>
                                <a href="#">Sub Item 4</a>
                              </li>
                            </ul>
                          </li>
                          <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Menu Item 2</a>
                            <ul class="sub-menu">
                              <li>
                                <a href="#">Sub Item 1</a>
                              </li>
                              <li>
                                <a href="#">Sub Item 2</a>
                              </li>
                              <li>
                                <a href="#">Sub Item 3</a>
                              </li>
                              <li>
                                <a href="#">Sub Item 4</a>
                              </li>
                              <li>
                                <a href="#">Sub Item 5</a>
                              </li>
                              <li>
                                <a href="#">Sub Item 6</a>
                              </li>
                            </ul>
                          </li>
                          <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Menu Item 3</a>
                            <ul class="sub-menu">
                              <li>
                                <a href="#">Sub Item 1</a>
                              </li>
                              <li>
                                <a href="#">Sub Item 2</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </nav>
      
                </div>
              
              </div>
            </div>
            <div id="menu"></div>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
